window.addEventListener("load", () => {
  const element = document.querySelector("#new-cocktail");
  element.addEventListener("ajax:success", (event) => {
    const [_data, _status, xhr] = event.detail;
    element.insertAdjacentHTML("beforeend", xhr.responseText);
  });
  element.addEventListener("ajax:error", () => {
    element.insertAdjacentHTML("beforeend", "<p>ERROR</p>");
  });
});

<% if @cocktail.errors.any? %>
  alert("ERROR(S):\n<%= j @cocktail.errors.full_messages.join("\n").html_safe %>")
<% end %>