<h2>New Cocktail</h2>

<div class='new-page'>
  <div class='card edit-expand'>

    <%= render partial: "cocktail_image", locals: { product: @cocktail } %>

    <%= render 'errors', cocktail: @cocktail %>
    <%= render 'form', cocktail: @cocktail %>

  </div>
</div>