


<main>
  <div class="splash-image">
    <%= image_tag 'cocktails-on-bar.webp', alt:"Tasty Drinks" %>
  </div>
  <section class="about">
    <h4>Favorite Drinks</h4> 
    <h4>New Tastes</h4>
    <h4>All At Your Fingertips</h4>
    <p>Look up old favorite cocktail recipes.  Save them to your favorites.  Explore new cocktail new ones and even add your own.</p>
  </section>
</main>


