


<main>
  <div class="splash-image">
    <%= image_tag 'cocktails-on-bar.webp', alt:"Tasty Drinks" %>
  </div>
  <section class="about">
    <div class="about-tab1">
      <h3>Favorite Drinks</h3> 
    </div>
    <div class="about-tab2">
      <h3>New Tastes</h3>
    </div>
    <div class="about-tab3">
      <h3>All At Your Fingertips</h3>
    </div>
    <div class='about-text'>
      <div class='about-shadow'>
        <p>Look up old favorite cocktail recipes.</p>  
        <p>Save them to your favorites.
        </p>  
        <p>Explore new cocktails and create new ones.</p>
      </div>
    </div>
    <div class='bottom'>
  </section>
</main>


