@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @font-face {
  font-family: 'Cocktails';
  src: url('Cocktails.ttf');
}

@font-face {
  font-family: 'Futura-Book-font';
  src: url('Futura-Book-font.ttf');
}

@font-face {
  font-family: 'Arial';
  src: url('Arial.ttf');
}

:root {
  --clr-white: #FFFFFF;
  --clr-yellow: #FFD35C;
  --clr-orange: #FC6722;
  --clr-black: #262626;
  --clr-violet: #8000fe;
  --clr-fuschsia: #ff70ffcc;
  --clr-grey: #e9e9e9;

  --ff-logo: 'Cocktails', sans-serif;
  --ff-header: 'Futura-Book-font', sans-serif;
  --ff-body: 'Arial', sans-serif;
}

html {
  box-sizing: border-box;
  color: var(--clr-black);
}

// Typography

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h2,
h3 {
  font-family: var(--ff-header);
  text-align: center;
  line-height: .8;
  color: var(--clr-violet);
  margin-bottom: 1rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
  margin-bottom: 3px;
}

p {
  font-family: var(--ff-body);
  margin-bottom: 0.15em;
  line-height: .8;
}

a {
  color: var(--clr-violet);
  text-decoration: none;
}

a:focus, a:hover {
  color: var(--clr-fuschsia);
  text-decoration: underline;
}

img {
  display: block;
  min-width: 100%;
}

.button {
  margin-top: 5px;
  background-color: var(--clr-violet);
  color: var(--clr-white);
  display: block;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.button:hover {
  background-color: var(--clr-fuschsia);
  color: var(--clr-violet);
  border-color: var(--clr-violet);
}
  
// Navigation Bar

.navbar {
  position: fixed;
  width: 100%;
  top: -10px;
  left: 0px;
  z-index: 10000;

}

#bootstrap-override > .container-fluid {
  background: var(--clr-violet);
  padding: 10px;
}

#bootstrap-override a {
  color: var(--clr-white);
}

#bootstrap-override a:focus,
#bootstrap-override a:hover {
  color: var(--clr-fuschsia);
  text-decoration: underline;
}


// Header

.logo-grid {
  margin-top: 4rem;
  margin-bottom: .5rem;
  display: grid;
  grid-template-columns: 160px 655px;
  column-gap: 20px;
  row-gap: 0px;
  justify-content: center;
  justify-items: center;
  padding: .5em 0 1em;
  
}

.logo-img {
  grid-column: 1/1;
  grid-row: 1/span 2;
  align-self: end;
  max-width: 70%;
  height: auto;
}

.logo-title {
  align-self: end;
  font-family: var(--ff-logo);
  grid-column: 2/2;
  grid-row: 1/1;
  white-space: nowrap;
}

.synopsis {
  align-self: start;
  grid-column: 2/2;
  grid-row: 2/2;
  color: var(--clr-fuschsia);
  font-size: 1.6rem;
}

// Log In & Registration

.login-card {
  box-sizing: content-box;
  width: 325px;
  // height: 365px;
  // background: linear-gradient(to bottom, var(--clr-white) 52%, var(--clr-grey) 48%);
  border-radius: 10px;
  border-style: solid;
  border-color: var(--clr-violet);
  border-width: 3px;
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  row-gap: 5px;
}

.login-item {
  text-align: center;
}


// Cards
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 260px));
  grid-auto-flow: row;
  grid-gap: 1em;
  align-items: center;
  justify-content: center;
  justify-items: stretch;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 1rem;
}

.card {
  display: grid;
  grid-template-rows: 220px 5px 50px 20px;
  grid-template-columns: 1fr;
  column-gap: 5px;
  row-gap: 0px;
  justify-content: left;
  border-radius: 10px;
  min-width: 100%;
  height: 400px;
  background-color: var(--clr-grey);
  justify-self: stretch;
}

.drink-thumb {
  width: 100%;
  height: 220px;
  object-fit: cover;
  justify-self: stretch;
  grid-column: 1/1;
  grid-row: 1/span 2;
  border-radius: 10px 10px 0px 0px;
}

.card-name {
  justify-self: start;
  padding-left: 10px;
  padding-top: 10px;
}

.card-ingredients {
  padding-left: 10px;
}

.card-buttons {
  display: flex;
  justify-content: space-around;
  align-self: end;
}

.card-expand {
  width: 400px;
  height: 820px;
  grid-column-end: span 2;
  grid-row-end: span 2;
  background: linear-gradient(to bottom, var(--clr-white) 52%, var(--clr-grey) 48%);
  border-style: solid;
  border-color: var(--clr-violet);
  border-width: 3px;
  // margin: 20px;
  display: grid;
  grid-template-rows: 380px 5px 50px 20px;
}

.edit-expand {
  width: 400px;
  height: 1240px;
  grid-column-end: span 2;
  grid-row-end: span 3;
  background: linear-gradient(to bottom, var(--clr-white) 30%, var(--clr-grey) 70%);
  border-style: solid;
  border-color: var(--clr-violet);
  border-width: 3px;
  display: grid;
  grid-template-rows: 380px 5px 50px;
  // grid-template-columns: 1fr;
  // align-self: stretch;
  // justify-self: auto;
  // justify-content: center;
}

.edit-expand > .drink-thumb, .card-expand > .drink-thumb {
  width: 100%;
  height: 380px;
  padding: 20px;
}

.card-expand > .card-name, .edit-expand > .card-name {
  justify-self: center;
  // margin-left: -10px;
}

.edit-expand > .form {
  width: 100%;
  height: 90%;
  margin-top: 10px;
  justify-self: stretch;
}

.edit-expand textarea {
  display: block;
  width: 98%;
  height: 170px;
  resize: none;
  margin-left: auto;
  margin-right: auto;
}

.top-space-15 {
  margin-top: 15px;
}

.top-space-10 {
  margin-top: 10px;
}

.top-space-5 {
  margin-top: 5px;
}

.bottom-space-5 {
  margin-bottom: 5px;
}


.form-grid-containers {
  width: 100%;
  display: grid;
  padding: 5px;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  justify-content: center;
  justify-items: stretch;
  justify-self: center;

}

.edit-expand label {
  margin-left: 10px;
}

.edit-expand input {
  // margin-left: 10px;
  line-height: 1;
  font-size: 16px;
}

.form-blank {
  min-width: 30px;
}

.card-hidden-text {
  display: none;
}

.search-card {
  width: 400px;
  height: 800px;
}

.search-grid {
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.pagination {
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:fit-content;
  background: var(--clr-white);
  cursor: default;
  /* self-clearing method: */ }
  .pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .pagination .disabled {
    color: #999999;
    border: 1px solid var(--clr-black); }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    background: var(--clr-violet);
    color: var(--clr-white);
    border: 1px solid var(--clr-violet); }
  .pagination a {
    text-decoration: none;
    color: var(--clr-violet);
    border: 1px solid var(--clr-violet); }
  .pagination a:hover, .pagination a:focus {
      color: var(--clr-black);
      border-color: var(--clr-black); }
  .pagination .page_info {
    background: var(--clr-violet);
    color: var(--clr-white);
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
  .pagination .page_info b {
      color: var(--clr-black);
      background: var(--clr-violet);
      padding: 0.1em 0.25em; }
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .pagination {
    height: 1%; }
  *:first-child + html .pagination {
    overflow: hidden; 
}

// Homepage Styles

.splash-image {
  height: 250px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: Hidden;
  object-fit: cover;
}

.splash-image img {
  margin-top: -30px;
}

// Home Page

.about {
  display: grid;
  grid-template-rows: 1fr, 1fr, 1fr;
  grid-template-columns: 80px, 80px, 80px;
  justify-content: center;
  // width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  // text-align: left;
}

.about-tab1 {
  display: block;
  grid-column-start: 1;
  grid-row-start: 1;
  // width: 100%;
  justify-self: right;
  // margin-left: 6em;
}

.about-tab2 {
  display: block;
  grid-column-start: 2;
  grid-row-start: 2;
  // width: 100%;
  justify-self: center;
  // margin-left: 3em;
}

.about-tab3 {
  display: block;
  grid-column-start: 3;
  grid-row-start: 3;
  // width: 100%;
  justify-self: left;
  // margin-left: 6em;
}

.about-text {
  display: block;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  color: var(--clr-white);
  z-index: 10;
  width: 20rem;
  height: 6rem;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: var(--clr-fuschsia);
}

.about-shadow {
  text-align: left;
  width: 20rem;
  height: 6rem;
  padding: 1rem;
  position: absolute;
  background-color: var(--clr-violet);
  margin: 3px;
  z-index: 1;
}


// Details (show) page

.show-page {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.show-page > .drink-thumb {
  width: 380px;
  height: 380px;
  object-fit: none;
  justify-self: center;
}

// New page

.new-page {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.new-page > .edit-expand {
  padding-top: 1rem;
  height: 820px;
}

.new-page label {
  margin-left: 20px;
}

// Search & Favorites Styles

.search {
  text-align: center;
  margin-bottom: 1rem;
}

.search-button {
  border: 1px solid var(--clr-violet);
}



// Misc


.flash {
  display: inline-block;
  background: #f9f8ea;
}

.flash-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}


