@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @font-face {
  font-family: 'Cocktails';
  src: url('Cocktails.ttf');
}

@font-face {
  font-family: 'Futura-Book-font';
  src: url('Futura-Book-font.ttf');
}


:root {
  --clr-white: #FFFFFF;
  --clr-yellow: #FFD35C;
  --clr-orange: #FC6722;
  --clr-black: #262626;
  --clr-violet: #8000fe;
  --clr-fuschsia: #ff70ff;

  // --ff-logo: 'Cocktails';
  // --ff-normal: 'Futura-Book-font';
}

.body-wrapper {
  font-family: 'Futura-Book-font';
}

a {
  color: var(--clr-yellow)
}

.navbar {
  margin-top: -5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  background: var(--clr-violet)
}

.navbar > ul {
  // justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

// .navbar > li {

// }


.logo-grid {
  margin-top: 50px;
  display: grid;
  // grid-template-columns: [first] auto [second] auto;

  grid-template-columns: 90px 385px;
  column-gap: 20px;
  row-gap: 0px;
  justify-content: center;
  justify-items: center;
  // align-items: center;
  
}

.logo-img {
  grid-column: 1/1;
  grid-row: 1/span 2;
  height: 120px;
}

.logo-title {
  // margin-left: 50px;
  // justify-content: center;
  align-self: end;
  font-family: 'Cocktails';
  grid-column: 2/2;
  grid-row: 1/1;
  // font-family: var(-ff-logo);
  // color: var(--clr-mini-pink);
}

.synopsis {
  align-self: start;
  grid-column: 2/2;
  grid-row: 2/2;
  color: var(--clr-violet);
}



.drink-thumb {
  width: 100px;
  height: 100px
}

.form-grid-containers {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.flash-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}


.about {
  margin-top: 50px;
  margin-left: 10em;
  margin-right: 10em;
}