// Place all the styles related to the Cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.drink-thumb {
  width: 100px;
  height: 100px
}

.form-grid-containers {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.flash-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

// .form-flex-item {

// }