  <div class="logo-grid">
    <%= image_tag 'martini.webp', class: 'logo-img' %>
    <h1 class="logo-title">My Favorite Cocktails</h1>
    <div class="synopsis">
      <p>Find. Mix. Drink. Favorite.</p>
    </div>
  </div>